body{
    background-color: #E5E5E5;
}
 /* Main  */

.main-container{    
    width: 1200px;
    height: 1319px;
    font-family: 'Montserrat';
    margin: 44px auto;
    /* margin-bottom: 44px;
    margin-left: 51px;
    margin-right: 51px; */
    background-color: white;
    display: flex;
    flex-direction: row-reverse;    
}
/* Text Intro */
.text-intro{
    margin-top: 151px;
    margin-left: 88px;
    width: 400px;
    height: 221px;    
}

.Fron-End-Developer{    
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 9px;    
}

.name{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-top: 9px;
}

.Text-p{    
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
/* Projects */
.projects{

    height: 107px;
    width: 485px;
    left: 498px;
    top: 412px;
    border-radius: 0px;

    margin-top: 40px;
    margin-bottom: 51px;
    margin-left: 88px;
    margin-right: 268px;        
}
.projects-title{
    margin-bottom: 4px;
}
.projects-ordered-list{
    margin-top: 4px;
}
.project-item-number{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    left: -25px;
}
.project-item-text{

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;    
    text-shadow: #373938;
    color: #595959;
}
.project-item-dotline{
    letter-spacing: 0.3em;
}
a{
    color: black;
}
a:visited {
    color: black;
}
a:hover {
color: brown;
}
a:active {
color: brown;
}
/*  Work Experience */
.work-experience
{
    position: relative;
    width: 525px;
    /* height: 213px; */
    margin-top: 51px;
    margin-left: 88px;
}
.work-experience-title{
    font-weight: 700;
}
.position{
    margin-top: 20px;
    margin-bottom: 0px;
}
.last-company-name{
    color: #FB6D3A;
}
.company-date{
    color: #A8A8A8;
    margin-top: 11px;
    margin-bottom: 0px;
}
.work-descriptio{
    margin-top: 8px;
}
.company-item{
    position: relative;
    left: -25px;
}
/* Education */
.education{
    position: relative;
    margin-top: 43px;
    margin-left: 88px;
    
    /* top: 820px; */
}
.education-title{
    margin-bottom: 6px;
}
.education-title2{
    font-weight: 700;
    color: #FB6D3A; 
    margin-top: 6px;
    margin-bottom: 6px;
}
.education-title3{
    margin-top: 5px;
    margin-bottom: 6px;
}
.education-date{
    color: #A8A8A8;
    margin-top: 6px;
}
/* Lateral informacion */

/* Foto */
.left-side{
    background: #1E2939;
    color: white;
}

.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;    
    perspective: 1000px;
}
  
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2.0s;
    transform-style: preserve-3d;
}
  
.flip-box:hover .flip-box-inner {
    transform: rotateY(360deg);
}
  
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-box-front {
    background-color: #bbb;
    color: black;
}
  
.flip-box-back {
    background-color: #555;
    color: white;
    transform: rotateY(180deg);
    width: 300px;
    height: 300px;    
}
.flip-box-back-text{
    margin-top: 100px;
}

/* Contact Information */
.Contact-Information{
    width: 174;
    margin-left: 40px;
    margin-top: 200px;
}
.contact-title{
    font-size: 22px;
}
.contact-initial{
    font-weight: 700;    
}
.a-contact-tel{
    color: white;
    margin-left: 20px;
}
.a-contact-tel:visited{
    color: white;
}
.a-contact-tel:hover {
color: brown;
}
.a-contact-tel:active {
color: brown;
}
.a-contact-email{
    color: white;
    margin-left: 20px;
}
.a-contact-email:visited{
    color: white;
}
.a-contact-email:hover {
color: brown;
}
.a-contact-email:active {
color: brown;
}
.tech-skills{
    width: 174;
    margin-top: 44px;
    margin-left: 40px;
}
.soft-skills{
    width: 174;
    margin-left: 40px;
}
.skills-item{
    color: #FB6D3A;   
}
.skills-text{
    color: white;
}

